
   .sidebar {
    width: fit-content;
    height: 100vh; 
    padding: 10px;
    display: flex; 
    flex-direction: column;
    background-color: #3f3e3e; 
    box-sizing: border-box;
    position: fixed; 
    left: 0; 
    top: 0;
}
  
.sidebar button {
    background-color: #a59d6e; 
    border: none; 
    color: #000000; 
    margin: 5px 0; 
    text-align: left;
    width: 100%; 
}
  
.toggle-icon {
    position: fixed; 
    left: 10px; 
    top: 10px;
    padding: 10px; 
    cursor: pointer; 
    z-index: 1000; 
}
  
.toggle-icon i {
    font-size: 24px; 
    color: #616060; 
}
.hamburger-icon img{
height: 30px;
width: 30px;
background-color: rgba(128, 125, 125, 0.212);
}
.sidebar :last-child{
    background-color: rgb(163, 69, 69);
}
  