<head>

</head><body><div class="about-container">
  <h1>About Me</h1>
  <div class="about-content">
    <img src="assets/123.jpg" alt="Profile Picture" class="profile-picture" />
    <div class="description">
      <p>
        Hello! I'm Ujjaval Devendrabhai Patel, a passionate software developer specializing in web and application development. 
        I enjoy creating responsive, user-friendly, and innovative solutions.
      </p>
      <p>
        With experience in technologies like Angular, ASP.NET, PostgreSQL, and more, I aim to deliver 
        exceptional digital experiences. Currently, I'm exploring new opportunities in DevOps.
      </p>
      <p>
        In my free time, I love contributing to open-source projects, learning new technologies, and sharing 
        knowledge through blogs and mentoring.
      </p>
    </div>
  </div>
</div>


<!--  -->
<div class="about-container">
  <h2>Education</h2>
  <div class="about-content">
    <div class="description">
      <ul>
        <li><strong>Bachelor of Engineering (BE)</strong> in Computer Engineering, L.J. Institute of Engineering and Technology, 2024</li>
        <li><strong>Higher Secondary Certificate (HSC)</strong>, Pioneer School Of Science, 2020</li>
        <li><strong>Secondary School Certificate (SSC)</strong>, Pioneer Secendory School, 2018</li>
      </ul>
    </div>
  </div>
</div>



<!--  -->
<div class="about-container">
    <p>Explore my biodata and resume by clicking the buttons below:</p>
    <div class="res-bio">
    <kendo-toolbar >
      <button kendoButton   class="custom-button" icon="file-pdf" (click)="openDocument('resume')">Resume</button>
      <button kendoButton   class="custom-button" icon="file-pdf" (click)="openDocument('biodata')">BioData</button>
    </kendo-toolbar>
  </div>
</div>
</body>